{% extends 'base.html.twig' %}

{% block title %}Autisme{% endblock %}

{% block body %}

  <div  style="margin-top: 10px;"  class="slideshow">

        <div class="slideshow-item" >
            <img   src="/image/e.jpg">
            <div class="slideshow-item-text">
                <h5 style="color:white;"> L’autisme est une maladie ?</h5>
                <p style="color:white;">
L’autisme n’est pas une maladie mentale. C’est un trouble du neurodéveloppement : c’est-à-dire des altérations du cerveau qui se mettent en place avant la naissance et sont impliqués dans le langage, la motricité, la perception, les émotions, les interactions sociales…
C’est pourquoi, depuis 1996, l’autisme est reconnu officiellement comme un handicap. 

</p>
            </div>
        </div>
        
        <div class="slideshow-item">
            <img src="/image/ik.jpg">
            <div class="slideshow-item-text">
                <h5  style="color:white;">L’autisme est associé à un retard mental</h5>
                <p  style="color:white;">PAS FORCÉMENT
Des personnes peuvent avoir un trouble du spectre autistique sans déficience intellectuelle. Certaines ont même un très bon niveau intellectuel : on parle alors d'autisme de haut niveau.


</p>
            </div>
        </div>
        <div class="slideshow-item">
            <img src="/image/aaa.jpg">
            <div class="slideshow-item-text">
                <h5  style="color:white;"> L’autisme se soigne</h5>
                <p style="color:white;">PAS VRAIMENT
La cause de l’autisme n’étant pas connue, aucun traitement médical n’existe pour le moment.
MAIS
Grâce à une prise en charge pluridisciplinaire et adaptée aux besoins de chacun, il est possible d’améliorer la qualité de vie des personnes autistes tout au long de leur vie.

</p>
            </div>
        </div>

    </div>

   <center><div class="histoire4 col-md-6 ">
    <h1 style="color:green; font: size 40px;margin-top :30px; "> Qui somme nous?</h1>
      <h5>
        Autisme  Tunisie est une association qui est pour mais accompagnée et de soutenir les familles touchées par l’autisme et de défendre leurs droits.

        Nous agissons pour faire connaître et reconnaître ce trouble,et pour faciliter la mission de chercher un spécialiste plus facile pour les parent, et pourront avoir une meilleure idée de comment agir avec leur enfant. </p>
        
      </h5>
  </div></center>




<div class="main">

  

  <ul class="cards">
    <li  class="cards_item">
      <div class="card">
        <div class="card_image"><img style="max-width:100%;height:auto ;" src="/image/0.jpg"></div>
        <div class="card_content1">
          <h2 class="card_title">L'autisme, c'est quoi ?</h2>
          <p class="card_text">Votre enfant ou un de vos proches présente des troubles du comportement et de la communication. On vous parle d’autisme.</p>
          <a href="{{path('autisme')}}  "><button class="btn card_btn">Lire la suite</button></a>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img style="max-width:100%;height:auto ;" src="/image/4.jpg"></div>
        <div class="card_content2">
          <h2 class="card_title">Le dépistage, les premiers signes</h2>
          <p class="card_text">Les signes d’alerte ;L’observation des premiers troubles de l’autisme chez l’enfant intervient souvent avant ses 3 ans.</p>
          <a href="{{path('austisme2')}}  "><button class="btn card_btn">Lire la suite</button></a>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img style="max-width:100%;height:auto ;"  src="/image/8.jpg"></div>
        <div class="card_content3">
          <h2 class="card_title">La scolarité et les soins</h2>
          <p class="card_text">La scolarisation des enfants est obligatoire de 3 et 16 ans. Plusieurs modes de scolarisation sont possibles.t</p>
          <a href="{{path('autisme3')}}  "><button class="btn card_btn">Lire la suite</button></a>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img style="max-width:100%;height:auto ;"  src="/image/vv.jpg"></div>
        <div class="card_content4">
          <h2 class="card_title">Les aides et les droits</h2>
          <p class="card_text">Votre enfant vient de recevoir un diagnostic de TSA (trouble du spectre de l’autisme). L’objectif est maintenant de mettre en place un accompagnement pluridisciplinaire adapté?</p>
          <a href="{{path('autisme4')}}  "><button class="btn card_btn">Lire la suite</button></a>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img style="max-width:100%;height:auto ;"  src="/image/v.jpg"></div>
        <div class="card_content5">
          <h2 class="card_title">Obtenir un diagnostic</h2>
          <p class="card_text">Comment obtenir un diagnostic d’autisme ? Vous avez repéré des signes d’alerte de troubles autistiques chez votre enfant ou chez un de vos proches.</p>
          <a href="{{path('autisme5')}}  "><button class="btn card_btn">Lire la suite</button></a>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img style="max-width:100%;height:auto ;"  src="/image/vvv.jpg"></div>
        <div class="card_content6">
          <h2 class="card_title">Le diagnostic</h2>
          <p class="card_text">Diagnostic de l’autisme : procédures et informations, Les parents qui soupçonnent des troubles d’autisme chez leurs enfants pourront se diriger vers un diagnostic
</p>
          <a href="{{path('autisme6')}}  "><button class="btn card_btn">Lire la suite</button></a>
        </div>
      </div>
    </li>
  </ul>
 

 

</div>

<section>

  <header class="page-header">
      <center> <img class="logo" src="/image/oo.png" alt="Street view on our office"></center>
      <section class="about">
        <div class="row">
          <div class="col m l6 ">
          <h4  style="padding:35px;">Nos articles s’adressent à tous les aidants d’un enfant autiste :</h4>
    
            <p >Sa famille et ses proches : parents, grands-parents, fratries et ami(e)s…<br>
              Le personnel de son école : enseignant(e)s, auxiliaires de vie scolaire, personnel de surveillance…<br>
              Le personnel médical et paramédical qui assure son suivi : médecins, psychologues, orthophonistes, psychomotricien(ne)s, éducateurs(trices)…<br>
     </p>   </div>
          <div class="col m9 l6 right-align">
            <img class="responsive-img" src="/image/sout.jpg" />  </div>
        </div>
      </section>
    
    


  </header>
  <main id="main">
      <section id="about" class="box about">
        <h2>Notre mission&nbsp;</h2>
        <p>La mission d’Autisme Tunisie  est de fournir des informations générales et actualisées sur le trouble du spectre de l’autisme (TSA), relayer les recommandations relatives de la HAS, soutenir les personnes concernées et leur entourage et orienter les usagers vers les services les plus adaptés à leurs besoins.

          Autisme Info Service s’adresse aux femmes et aux hommes autistes et à leur entourage, aux professionnels de santé, du social, aux encadrants… et plus globalement, à toute personne intéressée par l’autisme.</p>
      </section> 
    <div class="quote">
      <blockquote class="wrapper">
        <strong>Ensemble </strong> pour <strong>l'autisme</strong>
      </blockquote>
    </div>
    <!-- header pic --> 
 <div class ="row">
  <img src ="https://s3-us-west-2.amazonaws.com/s.cdpn.io/450347/1.jpg" class ="img-responsive"> 
</div>
  </main>
  
  </section>

  
  
    
  




    <style>


      .about h1 {
        font-size: 1rem;
      }
      
      .about p {
        
        font-weight: 300;
        font-style: italic;
      }
      
      .about {
        background-color: var(--accent-color);
        height: auto;
        padding: 1rem;
      }
      
      
      
      a {
      color: inherit;
      }
      a:hover {
      text-decoration: none;
      }
      h1, h2, h3, h4 {
      text-transform: uppercase;
      margin: 0 0 1.5rem;
      }
      .logo {
      width: 150px;
      border-radius: 50%;
      margin-bottom: 32px;
      }
      .icon-link {
      transition: 0.3s;
      }
      .icon-link:hover {
      color:  cadetblue;
      }
      .site-title {
      font-size: calc(36px + 3vw); 
      }
      .site-subtitle {
      font-weight: normal;
      text-transform: none;
      font-size: calc(1.5rem + 1vw);
      }
      .page-header {
      margin: 48px 0;
      
      }
      
      .about,
      .page-footer {
      border-top: 1px solid;
      }
      .contact {
      text-align: center;
      margin: 48px 0;
      color: #fff;
      background: #a7d4f1;  
      }
      .quote {
      padding: 4.5rem 0;
      text-align: center;
      background-image: url("/image/m.jpg");
      background-size:  cover;
      background-attachment: fixed;
      }
      blockquote {
      color: #fff;
      font-size: calc(1rem + 2vw);
      
      }
      blockquote strong {
      display: block;
      }
      .page-footer {
      text-align: center;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      }
      address {
      margin-bottom: 1.5rem;
      }
      
      *{
      
      box-sizing: border-box;
      }
      
      .one {
      text-align:center;
      width:30%;
      display: block;
      margin-left: auto;
      margin-right: auto
      
      }
      
      .slideshow{
      width: 100%;
      height: 90vh;
      position: relative;
      overflow: hidden;
      margin-top: 0px;
      
      
      
      
      }
      
      .slideshow-item{
      width: inherit;
      height: inherit;
      position: absolute;
      opacity: 0;
      animation: slideanim 31s infinite;
      }
      
      .slideshow-item:nth-child(1),
      .slideshow-item:nth-child(1) img{
      animation-delay: 0;
      }
      .slideshow-item:nth-child(2),
      .slideshow-item:nth-child(2) img{
      animation-delay: 10s;
      }
      
      .slideshow-item:nth-child(3),
      .slideshow-item:nth-child(3) img{
      animation-delay: 20s;
      }
      
      .slideshow-item img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      animation: zoom 31s infinite;
      }
      
      .slideshow-item-text{
      max-width: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background-color: rgba(41, 27, 27, 0.8);
      color: #fff;
      padding: 10rem 5rem;
      font-family: 'Raleway', sans-serif;
      }
      
      .slideshow-item-text h5{
      font-size: 3.5rem;
      letter-spacing: 3px;
      }
      
      .slideshow-item-text p{
      font-weight: 300;
      font-size: 1.6rem;
      margin-top: 2rem;
      }
      
      @keyframes slideanim{
      25%{
        opacity: 1;
      }
      40%{
        opacity: 0;
      }
      }
      
      @keyframes zoom{
      100%{
        transform: scale(1.3);
      }
      }
      
      @media screen and (max-width: 1100px){
      .slideshow-item-text{
        max-width: 75%;
      }
      }
      
      @media screen and (max-width: 768px){
      .slideshow-item-text{
        padding: 3rem 1.5rem;
      }
      }
      
      @media screen and (max-width: 456px){
      .slideshow-item-text{
        max-width: 100%;
        top: inherit;
        transform: translateY(0);
        bottom: 0;
      }
      
      .slideshow-item-text h5{
        font-size: 2rem;
      }
      
      .slideshow-item-text p{
        font-size: 1rem;
      }
      }
      
      
      
      
      /* Font */
      @import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
      
      /* Design */
      *,
      *::before,
      *::after {
      box-sizing: border-box;
      }
      
      
      
      .main{
      max-width: 1200px;
      margin: 0 auto;
      }
      
      h1 {
      font-size: 24px;
      font-weight: 400;
      text-align: center;
      }
      
      img {
      height: auto;
      max-width: 100%;
      vertical-align: middle;
      }
      
      .btn {
      color: #ffffff;
      padding: 0.8rem;
      font-size: 14px;
      text-transform: uppercase;
      border-radius: 4px;
      font-weight: 400;
      display: block;
      width: 100%;
      cursor: pointer;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background: transparent;
      }
      
      .btn:hover {
      background-color: rgba(255, 255, 255, 0.12);
      }
      
      .cards {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
      }
      
      .cards_item {
      display: flex;
      padding: 1rem;
      }
      
      @media (min-width: 40rem) {
      .cards_item {
      width: 50%;
      }
      }
      
      @media (min-width: 56rem) {
      .cards_item {
      width: 33.3333%;
      }
      }
      
      .card {
      background-color: white;
      border-radius: 0.25rem;
      box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
      overflow: hidden;
      }
      
      .card_content1 {
      padding: 1rem;
      background: linear-gradient(-45deg, #010eca, #ffffff, #ffffff, #0f04ad);
    }
      .card_content2 {
      padding: 1rem;
      background: linear-gradient(-45deg, #cf0000, #ffffff, #ffffff, #b30a05);
      }
      .card_content3 {
      padding: 1rem;
      background: linear-gradient(-45deg, #d6b212, #ffffff, #ffffff, #ad9c04);
      }
      .card_content4 {
      padding: 1rem;
      background: linear-gradient(-45deg, #10b11d, #ffffff, #ffffff, #36c70a);
      }
      .card_content5 {
      padding: 1rem;
      background: linear-gradient(-45deg, #a30474, #ffffff, #ffffff, #920987);
      }
      .card_content6 {
      padding: 1rem;
      background: linear-gradient(-45deg, #be2a04, #ffffff, #ffffff, #c25b06);
      }
      
      .card_title {
      color: #000000;
      font-size: 1.1rem;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: capitalize;
      margin: 0px;
      }
      
      .card_text {
      color: #000000;
      font-size: 0.875rem;
      line-height: 1.5;
      margin-bottom: 1.25rem;    
      font-weight: 400;
      }
      
      
      
      
      
      
      


</style>
{% endblock %}

