{% extends 'base.html.twig' %}

{% block title %}Autisme{% endblock %}

{% block body %}


<section class="pro">
<div class="d-flex flex-column justify-content-center w-100 h-100">

<div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="fw-light text-white m-0">Autisme et troubles du neuro-développement</h1>
    <div class="btn-group my-5">
        <a href="{{path('medecin')}}" class="btn btn-outline-light" aria-current="page">THÉRAPEUTE</a>
        <a href="{{path('avs')}}" class="btn btn-outline-light">ACCOMPAGNER </a>
    </div>
    <a href="https://manuel.pinto.dev" class="text-decoration-none">
        <h5 class="fw-light text-white m-0">— AUTISME TUNISIE —</h5>
    </a>
</div>
</div>
</section>



<section  >
     <div class="sidebar">
		<ul  class=tri>
            <li class="listItemA"><a style="color:blue;"  href="{{path('autisme')}}">L'autisme,c'est quoi ?</a></li>

            <li class="listItemA" >
				<a style="color:red;" href="{{path('austisme2')}}">Le dépistage, les premiers signes</a></li>

            <li class="listItemA"><a style="color:green;"  href="{{path('autisme3')}}">Le diagnostic</a></li>

            <li class="listItemA"><a  style="color:yellow;"href="{{path('autisme4')}}">Obtenir un diagnostic</a></li>

            <li class="listItemA"><a  style="color:rgb(194, 41, 168);" href="{{path('autisme5')}}">Les aides et les droits</a></li>

            <li class="listItemA"><a style="color:brown;"  href="{{path('autisme6')}}">La scolarité et les soins</a></li>
        </ul>

</div>

<div id="right" class="histoire4 col-md-12 "><center><h2  style="color:DarkViolet;">LES AIDES ET LES DROITS
 </h2>  
 <h5>Autisme : quelles aides et quels droits pour vous ou votre enfant ?</h5>
</center><br>
<p>Votre enfant vient de recevoir un diagnostic de TSA (trouble du spectre de l’autisme). L’objectif est maintenant de mettre en place un accompagnement pluridisciplinaire adapté pour favoriser son développement, son éducation et sa socialisation. En tant que parents, vous allez pouvoir prétendre à des aides financières et/ou humaines pour compenser les dépenses liées au handicap de votre enfant.


 </p>
 
 
 
 <img style="height:40%;width:100%;" src="/image/0000.jpg" alt="" srcset="">
 
 
 <h3 style="color:blue;">La MDPH<h3> <br>
<h5>
Rôle de la MDPH  </h5>


 
 <p>  Une Maison Départementale des Personnes Handicapées (MDPH) est présente dans chaque département. Lieu unique de service public, la MDPH vise à accueillir, informer, orienter et accompagner les personnes handicapées. 

La MDPH a également la responsabilité d’attribuer des prestations financières et techniques aux personnes avec autisme. Ces prestations allouées à la famille permettront d’améliorer le quotidien de la personne à besoins spécifiques.</p> 

<h5>Le droit à la compensation du handicap</h5>

<br>
Si les signes d’autisme repérés entrainent une situation de handicap qui nécessite une compensation, vous pouvez déposer un dossier à la MDPH pour faire valoir les droits à la compensation du handicap de votre enfant. Il n’est absolument pas nécessaire d’attendre un diagnostic pour solliciter la MDPH. Celui-ci viendra compléter le dossier MDPH par la suite et affiner les propositions d’interventions et d’accès aux droits.

Nous vous conseillons de vous rapprocher d’une association ou d’un CCAS (Centre Communal d’Action Sociale) qui vous aidera à remplir votre dossier.

<br>


	<p>Actuellement, il n’existe aucun traitement médicamenteux pour l’autisme. Le handicap est donc présent toute la vie, y compris à l’âge adulte. Mais il existe des approches éducatives, comportementales et développementales qui agissent sur les symptômes. Les interventions spécialisées et individualisées ont pour objectif de permettre à votre enfant de faire des progrès.

La première étape est d’engager une démarche diagnostique auprès d’une équipe spécialisée. La démarche diagnostique peut être longue, mais les interventions peuvent démarrer dès le repérage, elles s’affineront avec les données du diagnostic.</p>

</div>



 
 
 

</section>








<style>


/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
.pro{
	background: linear-gradient(-45deg, #f7df0e, #34d9df, #34d9df, #f7df0e);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 50vh;
       margin-top:10px;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}






/* GENERAL */


/*SIDEBAR*/
.sidebar {
   background: linear-gradient(-45deg, #ffffff, #fcfafb, #fdfeff, #fafdfc);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
/* Change :absolute; to :fixed; to keep the sidebar in place when scolling. */

/* Sidebar Background */
    width: 320px;
/* Width of side bar. WARNING: If you change this, change .listItemA:width */
    height: 200%;
    padding: 20px;
	display: inline-block;
	box-shadow: 5px 5px rgb(238, 74, 183);
/* Padding above the sidebar image. */
   
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}



#right{
	float: right;
	width:75% ;
	text-align: start;
	padding:10px;
	
	

}


.tri {
    line-height: 40px;
    overflow: hidden;
    margin-left: 0;
    padding-left: 0;
}




.listItemA:hover {
    left: 0;
}

.listItemT {
    text-align: center;
}







</style>


{% endblock %}
